export(mgmixirt)
export(sim_mgmixirt)
export(mplus_syntax)
export(scores)
export(wald_test)
S3method(mplus_syntax, mgmixirt)
S3method(mplus_syntax, character)
S3method(scores, mgmixirt)
S3method(wald_test, mgmixirt)
S3method(vcov, mgmixirt)
S3method(plot, mgmixirt)
S3method(print, mgmixirt)
S3method(logLik, mgmixirt)
S3method(coef, mgmixirt)
S3method(summary, mgmixirt)
S3method(print, summary.mgmixirt)
importFrom(stats, plogis, qlogis, rbinom, rnorm, nlminb, sd, AIC, BIC, setNames, optimHess, pchisq, vcov)
importFrom(graphics, abline, barplot, legend, matplot, par, points)
